* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Margarine", sans-serif;
  height: 100vh;
  background: linear-gradient(20deg, #746c6b, #7a685b);
}

.first-heading {
  margin: 50px 0 0px;
  text-align: center;
  color: white;
}

.horizontal_line{
  background-color: white;
  width: 100px;
  height: 3px;
  margin: 20px auto;
}

.second-heading {
  margin-bottom: 20px;
}

.leaderboard {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.add-score {
  margin: 20px;
  padding: 20px;
}

.recent-scoresH2 {
  display: flex;
  gap: 20px;
  margin: 30px;
}

#scores-list {
  list-style-type: none;
  border: 3px solid #000;
}

#scores-list li {
  padding: 2px 5px;
}

#refresh {
  border: 3px solid #000;
  background: none;
  box-shadow: 4px 4px rgba(0, 0, 0.8, 0.8);
  padding: 5px;
  cursor: pointer;
}

#scores-list li:nth-child(odd) {
  background-color: #f2f2f2;
}

form {
  display: flex;
  flex-direction: column;
}

form input {
  margin: 5px 0;
  border: 3px solid #000;
  padding: 10px;
}

.submit-button {
  padding: 5px;
  cursor: pointer;
  border: 3px solid #000;
  box-shadow: 4px 4px rgba(0, 0, 0.8, 0.8);
  margin-top: 10px;
  align-self: flex-end;
  font-weight: bold;
}

@media (max-width: 768px) {
  .leaderboard {
    flex-direction: column;
  }
}
